/*home*/
*{
    padding: 0;
    margin: 0;
    color: aliceblue;

}

body{
    background-color: black;

}



.headofhome{
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    padding: 0px;
   
    
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 1px;
    margin-right: 20px;
    
}
#link1{
   
    text-decoration: none;
    text-align: left;
    left: 0;
    font-size: 30px ;   
}
.navbar{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 20px;
    border: 2px solid black hidden;
   
   
}
a{
    margin: 50px;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   font-weight: 500;
}
a:hover{
    color:#39FF14;
    transition: 0.1s ease-in;
   
}
a:active{
    color:#39FF14;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 3%;
    font-weight: bold;
    color:black;
    background-color: #39FF14;
    transition: 0.1s ease-in;
}
button:hover{
    background-color: aliceblue;
}

.slider{
    position: relative;
    width:80%;
    height:600px;
    margin: auto;
    overflow: hidden;
    
    
}
.slider img{
    width: 100%;
    
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    
}

.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade{
    from{opacity:.5}
    to{opacity:1}
}
@media (max-width:1000px){
    .navbar{
        padding: 0px;
    }

    .navbar a{
        font-size: 1rem;
        margin: 10px;
    }
    .slider{
        width: 800px;
        margin: 10px;
    }
}
@media (min-width:1200px) and (max-width:1000px){
    .navbar a{
        font-size: 1rem;
        margin: 10px;
    }
    .slider{
        width: 800px;
        margin: 0;
    }
}
@media (max-width:1200px) and (min-width:500px){
    .slides{
        width: 100%;
    }
    .displayslide{
        width: 100%;
    }
}




.service{
    height:500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    
}
.service-head{
    margin: 5px;
    margin-bottom: 20px;
    
}
.box-container{
    height:400px;
    display: flex;
    justify-content: space-evenly;
}
.boxes{
    margin-top: 10px;
    height: 90%;
    width:25%;
    border-radius: 3%;
    text-align: center;
    padding: 10px;
    background-color: rgba(28, 28, 28, 0.886);
    
}
.boxes,p{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
}
.boxes:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
    
   
}

.reviews{
    margin-top: 50px;
    height:500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
}
.review-container{
    display: flex;
    height:400px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.review-box{
    height: 90%;
    width:40%;
    margin-top: 50px;
    background-color: rgba(28, 28, 28, 0.886);
    text-align: center;
    padding: 20px;
    border-radius: 5%;
}
.review-img{
    object-fit: cover;
}


footer{
    height: 200px;
    background-color:rgb(62, 63, 63);
    position: relative;
    bottom: 0;
    width: 1515px;
}
.foot1{
    text-transform: initial;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 200;
    text-align: center;
}

hero1{
    display: flex;
    justify-content: space-between;
    flex:1 0 auto;
}

.picture1{
    display: inline-block;
    position: static;
    right: 200px;
    padding: 20px;
}
.work2{
    height: 400px;
    width: 600px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px ;
    padding: 10px;
    text-align: center;
    
    
}
.para1{
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}
#but1{
    background-color: transparent;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 20%;
    padding: 10px;
}
.work3{
  
    height: 400px;
    width: 600px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px ;
    padding: 10px;
    text-align: center;
    
}

#but2{
    background-color: transparent;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 20%;
}
.picture2{
    display: inline-block;
    position: absolute;
    right:0;
    
  
    padding: 20px;
}
#footpara{
    text-align: right;
    margin-right: 20px;
    margin-left: 1200px;
   
    display: inline-block;
}
/*index*/

